<div id="not_authorized_message">
    <h2>Not Authorized</h2>
    <p>If this is your first attempt to access the PrecisionLink Portal, please complete this <a href="https://redcap.link/GICportalaccess" target="_blank">request form</a> to request access. If you are employed by Boston Children’s Hospital and your CITI training is up to date, we will review your request within 5 business days. If you require immediate assistance, please contact <a href="mailto:bchbiobank4discovery@childrens.harvard.edu">bchbiobank4discovery@childrens.harvard.edu</a>.</p>
    <p>If you are a previous user of the PrecisionLink Portal and are having trouble accessing the Portal, <a href="/psamaui/login/?redirection_url=/picsureui/">click here</a> to try logging in again. If you require further assistance, please contact <a href="mailto:bchbiobank4discovery@childrens.harvard.edu">bchbiobank4discovery@childrens.harvard.edu</a>.</p>
</div>
<script>sessionStorage.clear();localStorage.clear();</script>
