<div id="not_authorized_message">
    <h2>Not Authorized</h2>
    <p>Your user account has not been previously activated for the BCH Precision Link Biobank Portal.</p>
    <p>If your CITI training is current, we will activate your account and you will receive an email within 1-2 business days.</p>
    <p>If you do not receive this email, please contact the <a href="{{helpLink}}">Biobank Administrator</a> to complete account activation.</p>
    <p>If you believe you logged in using the wrong account, please <a href="/psamaui/login/?redirection_url=/picsureui/">Click Here</a> to try logging in again.</p>
</div>
<script>sessionStorage.clear();localStorage.clear();</script>
